<div class="widget_project_selection">
    {% if projects is not empty %}
        <select name="widget_project_selection" id="widget_project_selection">
            <option value="">None</option>
            {% for project in projects %}
                {# #NOTICE: If this is current project, select it #}
                <option value="{{ project.id }}"
                    {{- currentProject and project.id == currentProject.id
                        ? ' selected="selected"'
                        : '' -}}>
                    {{- project.title -}}
                </option>
            {% endfor %}
        </select>
    {% else %}
        <span>{{ 'Sadly, no projects yet :('|trans }}</span>
    {% endif %}
</div>
